<a href="https://colab.research.google.com/github/Ryker0505/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0-50的奇數和結果是是%d" % result)

0-50的奇數和結果是是625

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0-50的偶數和結果是是%d" % result)

0-50的偶數和結果是是650

In [ ]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*", end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum = 0
for i in range (0,101):
  if (i%3==0 or i%7==0):
    sum += i
print("數值 1~100 中,所以是 3 或 7 的倍數之總和 =", sum)

數值 1~100 中,所以是 3 或 7 的倍數之總和 = 2208

In [1]:
p=1
counter=0
n = int(input('請輸入正整數'))
print(n,"的因數有",end=" ")
while (p<=n):
    if (n%p==0):
        print(p,end=" ")
        counter+=1
    p+=1
print()
if (counter==2):
    print(n,"是質數")
else:
    print(n,'不是質數')

請輸入正整數3
3 的因數有 1 3
3 是質數

In [2]:
list1 = [1,2,3,4,5]

In [3]:
list1

[1, 2, 3, 4, 5]

In [4]:
list2 = ['香蕉','蘋果','橘子']

In [5]:
list3 = [1,"香蕉",True]

In [6]:
list3

[1, '香蕉', True]

In [7]:
print(list1)

[1, 2, 3, 4, 5]

In [8]:
print(list1[0])

1

In [10]:
print(list1[1])

2

In [12]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [14]:
list4 = ['香蕉','蘋果','橘子']

In [15]:
print(list4[1])

蘋果

In [16]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [18]:
print(list4[3])

IndexError: ignored

In [21]:
list4

['香蕉', '蘋果', '橘子']

In [22]:
print(list4[-1])

橘子

In [23]:
print(list4[-3])

香蕉

In [34]:
print(list4[-4])

IndexError: ignored

In [29]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [30]:
print(list5[1])

['mary', 'abcd']

In [31]:
print(list5[0])

[['tom', '1234']]

In [33]:
print(list5[1][1])

abcd

In [36]:
print(list5[0][0])

['tom', '1234']

In [40]:
print(list5[1][1])

abcd

In [38]:
print(list5[0][0])

['tom', '1234']

In [42]:
print(list5[2][0])

david

In [62]:
score = [85, 79, 93]

In [63]:
print("國文成績: %d分" % score[0])
print("數學成績: %d分" % score[1])
print("英文成績: %d分" % score[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [51]:
list6 = [1, 2, 3, 4, 5]

In [52]:
print(list6[0])

1

In [55]:
list6 [0] = 9

In [56]:
print(list6[0])

9

In [57]:
print(list6)

[9, 2, 3, 4, 5]

In [58]:
list7 = ["香蕉","蘋果","橘子"]

In [59]:
for s in list7:
    print(s, end= ",")

香蕉,蘋果,橘子,

In [60]:
items = [123,"apple",True]
for item in items:
    print(item)

123
apple
True

In [66]:
scores = [85, 79, 93]

In [67]:
print(len(scores))

3

In [68]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [69]:
scores = [85,79,93]
for i in range(len(scores)):
  print("國文成績: %d分" % score[0])

國文成績: 85分
國文成績: 85分
國文成績: 85分

In [80]:
values = [85, 79, 93]
names = ["國文成績:","數學成績:","英文成績:"]
for x, y in zip(values, names):
  print(y,x, end = "分\n")

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [81]:
number = [1, 2, 3]
names = ["Tom","Mary","Tony"]
for x, y in zip(number, names):
  print("編號:",x,"姓名:",y)

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony